<p>
  <strong>Name:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Description:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete comment', [comment.article, comment],
  method: :delete,
  data: { confirm: 'Are you sure? '}
   %>
</p>
